/Debug
/lib
/tmp
/librtmfp.opensdf
/librtmfp.sdf
/librtmfp.v12.suo
/TestClient/Debug
/TestClient/TestClient.vcxproj.filters
/librtmfp.vcxproj.filters
/TestClient/TestClient
/TestClient/tmp
/librtmfp.pc
