/Debug
/lib
/tmp
/librtmfp.opensdf
/librtmfp.sdf
/librtmfp.v12.suo
/TestClient/Debug
/TestClient/TestClient.vcxproj.filters
/librtmfp.vcxproj.filters
/TestClient/TestClient
/TestClient/tmp
/librtmfp.pc
/TestClient/Release
/librtmfpVS14.opensdf
/librtmfpVS14.sdf
/librtmfpVS14.vcxproj.user
/TestClient/TestClientVS14.vcxproj.user
/.vs
/tmp64
/TestClient/tmp64
